{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <h1>My Notes</h1>
    <div id="note-list">
      {% if notes %}
        {% for note in notes %}
        <div class="note well well-md" id="note_{{ note._id }}">
          <h3>{{ note.title }}</h3>
          <p class="description">
            {% if note.description %}
              {{ note.description }}
            {% else %}
            <em>No description</em>
            {% endif %}
          </p>
          <div class="actions">
            <a class="btn btn-xs btn-danger"
               href="/note/{{ note._id }}/delete">
              Delete
            </a>
          </div>
        </div>
        {% endfor %}
      {% else %}
        You have no notes in your todo list
      {% endif %}
    </div>
  </div>
    <div class="col-md-4">
      <h1>New Note</h1>
      <br />
      <form action="{{ url_for('new_note') }}"
            method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title">

          <label for="description">Description</label>
          <textarea type="text" rows="4" class="form-control" id="description" name="description">
          </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>
  <div class="row">
  </div>
{% endblock %}
