<div class="row">
  <div class="col-md-12">
    <h1>{{title }}</h1>
    <p>Welcome to {{title }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
    <div id="item-list">
      {{#if items}}

      {{#each items}}
      <div>{{description}}</div>
      {{/each}}

      {{else}}
      No items.
      {{/if}}
    </div>
  </div>
</div>
