{% extends 'base.html' %}
{% block content %}
<p>
  <h1>My Todo List</h1>
  <div>
    {% if items %}
    <ul>
      {% for item in items %}
      <li>{{ item.description }} <a class="btn btn-xs btn-danger" href="/item/{{ item._id }}/delete">delete</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>
      You have no items in your todo list
    </p>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>New Todo Item</h3>
      <form action="{{ url_for('new_item') }}"
            method="post">
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</p>
{% endblock %}
